.row table {
    border: 1px black solid;
    margin-left: 1%;
    width: 70%
}

    .row table thead {
        color: gray;
        background-color: black;
    }

.btn-light {
    color: green;
    border: 1px green solid;
    font-size: 85%
}

.rent-btn {
    color: blue;
    border: 1px blue solid;
    font-size: 85%
}
